
<html>
    <head>
        <meta charset="UTF-8">
        <title> success </title>
        <style>
            body {
                background-color: darkslategrey;
                color: azure;
                font-size: 1.1em;
            }
            h1 {
                color: coral;
            }
            #intro {
                font-size: 1.3em;
            }
            .colorful {
                color: orange;
            }
        </style>                   
    </head>
    <body>
        
             <div class="header">
               <center><h1>Hi there {% for row in data %} {{row[0]}}  {% endfor %} !! </h1></center> 
             </div></br>
               
                   <p id="intro">Welcome to the home page...</p>
                   <p class="colorful">
                   <tbody>
                {% for row in data %} 
                    <tr>
                        <td>Name :{{row[2]}}</td></br></br>
                        <td>Roll number :{{row[3]}}</td></br></br>
                        <td>Stream opting :{{row[4]}}</td></br></br>
                        
                    </tr>
                {% endfor %}   
                   </tbody>
                   </p>
                           
                </br></br></br>
                
          
    </body>
</html>